/Backend/.env
/Frontend/.env
/Frontend/node_modules
/Backend/node_modules
/Backend/__pycache__
/Frontend/build-*.apk
/Frontend/.expo
/Frontend/.vscode
/Frontend/android
/Frontend/node_modules
/Frontend/ios
.vscode
/Backend/file_upload.js
/Backend/notes.js
/Backend/subject.json
/Backend/assignments.js
/Backend/subject.js
/Backend/upload.js
.gitignore
.vscode
/Backend/.gitignore
/Frontend/.gitignore
/Frontend/.expo
/Frontend/.vscode
LandingPage/public/async-v1.apk
LandingPage/public/video.mp4
Frontend/production.apk
Frontend/production.apk
