/Backend/.env
/Frontend/.env
/Frontend/node_modules
/Backend/node_modules
/Backend/__pycache__
/Frontend/build-*.apk
/Frontend/.expo
/Frontend/.vscode
/Frontend/android
/Frontend/node_modules
/Frontend/ios
.vscode